@{
    Layout = "/Views/Shared/_LayoutPage_01.cshtml";
}

<link href="/DuLieuHTML/style_TrangChu.css" rel="stylesheet"/>

<h1>
    @ViewBag.thong_bao
</h1>

<ul>
    <li>
        <a href="/DangNhap/View_DangNhap">Chuyển đến trang đăng nhập</a>
    </li>
</ul>