
@{
    Layout = "/Views/Shared/_LayoutPage_01.cshtml";
}

<h1>
    @ViewBag.thong_bao
</h1>

@*
    CÁCH SỬ DỤNG THẺ <a>

    tham số đầu tiên: là tên của Area
    tham số thứ 2: là tên của Controller
    tham số thứ 3: là tên của Action
*@

<ul>
    <li>
        <a href="/Admin/ThongTin_Admin/View_ThongTin_Admin">Chuyển đến trang thông tin Admin</a>
    </li>
</ul>