@{
    Layout = "/Views/Shared/_LayoutPage_01.cshtml";
}

<h1>
    @ViewBag.thong_bao
</h1>

<ul>
    <li>
        <a href="/NguoiDung/ThongTin_NguoiDung/View_ThongTin_NguoiDung">Chuyển đến trang thông tin người dùng</a>
    </li>
</ul>